<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/login.css">
</head>
<body>
    <div class="container">
        <header>
            <div class="navtext">
                <h1>CHATAPP</h1>
            </div>
            <div class="navlinks">
                <a class="login" href="/login">login</a>
                <a  class="signup" href="/signup">signup</a>
            </div>
        </header>
        <div class="maincont">
           

            
            <div class="loginformblock">
                <div class="close">
                    <button class="close">X</button>
                </div>
                <form  id="loginform">
               
                <div class="formele">
                    <label for="email">email</label>
                    <input type="email" id="email" name="email">
                    <div id="emaildexist"></div>
                </div>
                <div class="formele">
                    <label for="password">password</label>
                    <input type="password" name="password" id="password">
                    <div id="wrpass"></div>
                </div>
               
                    <input type="submit" name="login" id="login">
                </form>

            </div>
        </div>
        
    </div>
    <script src="javascripts/login.js"></script>
</body>
</html>
